Repository rathiabhishek1998/Team4_Open_Hack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rathiabhishek1998, @SivaDharrshini07, @kanz95

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @rathiabhishek1998

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
apis/poi/    @rathiabhishek1998 
apis/trips/  @SivaDharrshini07 @kanz95       
apis/user-java/  @SivaDharrshini07   
apis/userprofile/  @rathiabhishek1998 
# You can also use email addresses if you prefer.

Create sample
  apis/trips/sample
Owners: @SivaDharrshini07, @kanz95

Update Dockerfile
  apis/poi/web/Dockerfile
Owners: @rathiabhishek1998

Create maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @rathiabhishek1998

Update maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @rathiabhishek1998

Update maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @rathiabhishek1998

Update maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @rathiabhishek1998

Create demo
  apis/user-java/demo
Owners: @SivaDharrshini07

Update maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @rathiabhishek1998

Update demo
  apis/user-java/demo
Owners: @SivaDharrshini07

Update maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @rathiabhishek1998

Create git-issue-creation.yml
  .github/workflows/git-issue-creation.yml
Owners: @rathiabhishek1998

Delete git-issue-creation.yml
  .github/workflows/git-issue-creation.yml
Owners: @rathiabhishek1998

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: @rathiabhishek1998

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: @rathiabhishek1998

Update maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @rathiabhishek1998

Update demo
  apis/user-java/demo
Owners: @SivaDharrshini07

Update maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @rathiabhishek1998

Update demo
  apis/user-java/demo
Owners: @SivaDharrshini07

Update maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @rathiabhishek1998

Update demo
  apis/user-java/demo
Owners: @SivaDharrshini07

Update maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @rathiabhishek1998

Update maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @rathiabhishek1998

Update demo
  apis/user-java/demo
Owners: @SivaDharrshini07

Update maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @rathiabhishek1998

Update demo
  apis/user-java/demo
Owners: @SivaDharrshini07

Update maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @rathiabhishek1998

Update demo
  apis/user-java/demo
Owners: @SivaDharrshini07

Update maven-publish.yml
  .github/workflows/maven-publish.yml
Owners: @rathiabhishek1998
